/*-----公共样式-------*/
img {
    display: block;
    width: 100%;
}

html, body {
    background-color: #F4F4F4;
}

.articleBox {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
    background-color: #FFF;
}

.articleBox .headerBox {
    border-bottom: 1px dashed #AAA;
}

/*公共样式提取：先写大家的公用样式，最后写自己的私有样式即可*/
.articleBox .headerBox .bigTitle, .articleBox .headerBox h2 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}

.articleBox .headerBox h2 {
    font-size: 16px;
    color: orange;
    font-weight: normal;
}

/*.articleBox .mainBox:after {
    display: block;
    height: 0;
    content: '';
    clear: both;
}*/

.articleBox .mainBox h3 {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: green;
}

.articleBox .mainBox p {
    line-height: 30px;
    font-size: 12px;
    text-indent: 2em;
}

.articleBox .mainBox p strong {
    color: orange;
}

.articleBox .mainBox .figureBox {
    float: left;
    box-sizing: border-box;
    margin: 10px 10px 0 0;
    width: 300px;
}

/*.articleBox .mainBox .figureBox .imgBox {
    display: block;
    width: 100%;
}*/

.articleBox .mainBox .figureBox .figcaptionBox {
    font-size: 11px;
    color: #999;
    font-style: italic;
    line-height: 25px;
}

.articleBox .mainBox .asideBox {
    box-sizing: border-box;
    float: right;
    margin: 10px 0 0 10px;
    width: 200px;
}

/*
.articleBox .mainBox .asideBox .imgBox {
    display: block;
    width: 100%;
}*/
